<header>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	<a class="navbar-brand" routerLink="">Pizzeria</a>
	<a routerLink=""><img src="./assets/PizzeriaLogo1.png" alt=""/></a>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/orderpizza">Order Pizza</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/buildpizza">Build Ur Pizza</a>
			</li>
			<li class="nav-item" *ngIf="loginId == null">
				<a class="nav-link" routerLink="/login">Sign In</a>
			</li>
			<li class="nav-item" *ngIf="loginId == null">
				<a class="nav-link" routerLink="/register">Register</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item" *ngIf="loginId != null"><span class="nav-link">Welcome {{loginId}}</span></li>
			<li class="nav-item" *ngIf="loginId == null"><span class="nav-link">Welcome Guest</span></li>
			
			<button class="btn btn-warning" routerLink="/cart"
			        matBadge="{{noOfItemsInCart}}" matBadgePosition="before" matBadgeColor="accent">
				<i class="fa fa-shopping-cart"></i> Shopping Cart
			</button>
			&nbsp; &nbsp;
			<button class="btn btn-danger" *ngIf="loginId != null" (click)="signOut()">Sign Out</button>
		</ul>
	</div>
</nav> <br> <br> <br> <br>
</header>
